* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-pinkish: #ffc0cb;
  --color-purplish: #e7b9f1;
  --color-white-smoke: #fafafa;
  --color-black: #191818;
}

body {
  font-family:"Roboto", sans-serif;
  background-color: var(--color-white-smoke);
  text-align: center;
}
